.intro-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5em;
}
.intro-wrap .olli {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: clamp(100px, 50vw, 250px);
  height: clamp(100px, 50vw, 250px);
}
.intro-wrap .olli,
.intro-wrap .intro-text {
  border: 1px solid var(--color-7);
  border-radius: 0.5em;
  box-shadow: 1em 0.5em 3em -2.8em var(--color-1);
}
.intro-wrap .olli {
  overflow: hidden;
  border-color: var(--color-6);
  box-shadow: 1em 0.5em 2em -1.8em var(--color-1);
  border-width: 2px;
  border-top-width: 1px;
  border-bottom-width: 3px;
  outline: 1px solid var(--color-6);
  outline-offset: -1px;
}
.intro-wrap .olli img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.dark .intro-wrap .olli,
.dark .intro-wrap .intro-text {
  box-shadow: 1em 0.5em 3em -1.5em black;
}
.dark .intro-wrap .olli {
  box-shadow: 1em 0.5em 3em -1em black;
  border-color: var(--color-7);
  border-width: 1px;
  border-bottom-width: 2px;
}
.intro-wrap .olli {
  transition-property: opacity, transform, border-radius, outline-width,
    outline-offset;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.intro-wrap .olli {
  opacity: 1;
  flex: 0 0 auto;
  cursor: pointer;
  border-radius: 74% 100% 80% 98%;
}
.intro-wrap .olli1 {
  border-radius: 74% 120% 90% 100% / 75% 100% 100% 120%;
}
.intro-wrap .olli:hover {
  transform: scale(1.05);
  border-radius: 60% 110% 60% 110%;
  outline-width: 2px;
  outline-offset: -2px;
}
.intro-wrap .olli1:hover {
  border-radius: 50% 130% 60% 130% / 50% 130% 60% 140%;
}

.intro-wrap .olli.hidden img {
  opacity: 0;
}

.intro-wrap .intro-text {
  flex: 0 1 100%;
  max-width: 90%;
  padding: 1em 1.6em 0.8em;
}
.video-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1em 2em;
}
.video {
  flex: 1 1 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  max-width: 500px;
}
.video-wrap .video iframe {
  border: 0;
  outline: none;
}

.video-thumbnail {
  position: relative;
  width: 100%;
  height: 250px;
  background: linear-gradient(
    6deg,
    var(--color-1) 0%,
    var(--color-2) 30%,
    var(--color-4) 60%,
    var(--color-7) 100%
  );
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  border-radius: 0.25rem;
}

.video-thumbnail:hover {
  transform: scale(1.05, 1.01);
  outline-color: var(--color-7);
}

.video-thumbnail:focus-visible {
  outline: 2px solid var(--color-7);
  outline-offset: 2px;
}

.play-button {
  --color0: hsl(0, 100%, 25%);
  --color1: hsl(0, 100%, 40%);
  --color2: hsl(0, 100%, 55%);
  z-index: 1;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 30px;
  width: 132px;
  height: 38px;
  background-color: var(--color1);
  border-radius: 12px;
  border-radius: 70% 50% 90% 90% / 80% 60% 120% 80%;
  color: var(--color1);
  font-size: 24px;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation: bodyMovement 2s infinite ease-in-out;
  animation-play-state: paused;
}
.video-thumbnail:hover .play-button,
.video-thumbnail:focus .play-button,
.video-thumbnail:focus-visible .play-button {
  animation-play-state: running;
}
.play-button::before {
  /* tail end */
  content: "";
  z-index: -1;
  position: absolute;
  width: 0;
  height: 6px;
  top: 7px;
  left: -55px;
  color: var(--color1);
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-right: 66px solid currentColor;
  border-radius: 0;
  background-color: transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: right center;
  animation: tailMovement 2s infinite ease-in-out;
  animation-delay: -0.1s;
  animation-play-state: paused;
}
.video-thumbnail:hover .play-button::before,
.video-thumbnail:focus .play-button::before,
.video-thumbnail:focus-visible .play-button::before {
  animation-play-state: running;
}
.play-button::after {
  /* play icon*/
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid rgba(255, 255, 255, 0.84);
  transition-property: color, border-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation: sideToSideMovement 2s infinite ease-in-out;
  animation-play-state: paused;
}
.video-thumbnail:hover .play-button::after,
.video-thumbnail:focus .play-button::after,
.video-thumbnail:focus-visible .play-button::after {
  animation-play-state: running;
}
.play-button span,
.play-button i,
.play-button b {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--color1);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: left center;
}
.play-button b {
  animation: tailMovement 2s infinite ease-in-out;
  animation-delay: -0.1s;
  animation-play-state: paused;
  z-index: -1;
}
.video-thumbnail:hover .play-button b,
.video-thumbnail:focus .play-button b,
.video-thumbnail:focus-visible .play-button b {
  animation-play-state: running;
}
.play-button .top-fin::before {
  /* Top fin */
  content: "";
  position: absolute;
  z-index: 1;
  top: -38px;
  left: 30%;
  width: 0;
  height: 0;
  color: var(--color1);
  border-bottom: 40px solid currentColor;
  border-right: 30px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.play-button .front-fins::before {
  /* Fin front 1 */
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -20px;
  left: 40%;
  width: 0;
  height: 0;
  color: var(--color1);
  border-top: 26px solid currentColor;
  border-right: 26px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transform-origin: center top;
  transition-timing-function: ease-in-out;
  animation: lowerFin2 2s infinite ease-in-out;
  animation-play-state: paused;
}
.play-button .front-fins::after {
  /* Fin front 2 */
  content: "";
  position: absolute;
  z-index: -3;
  bottom: -14px;
  left: 55%;
  width: 0;
  height: 0;
  color: var(--color0);
  border-top: 15px solid currentColor;
  border-left: 15px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transform-origin: center top;
  transition-timing-function: ease-in-out;
  animation: lowerFin2 2s infinite ease-in-out;
  animation-delay: -1s;
  animation-play-state: paused;
}
.video-thumbnail:hover .play-button .front-fins::after,
.video-thumbnail:focus .play-button .front-fins::after,
.video-thumbnail:focus-visible .play-button .front-fins::after,
.video-thumbnail:hover .play-button .front-fins::before,
.video-thumbnail:focus .play-button .front-fins::before,
.video-thumbnail:focus-visible .play-button .front-fins::before {
  animation-play-state: running;
}
.video-thumbnail:hover .play-button .front-fins::before,
.video-thumbnail:focus .play-button .front-fins::before,
.video-thumbnail:focus-visible .play-button .front-fins::before {
  color: var(--color2);
}
.video-thumbnail:hover .play-button .front-fins::after,
.video-thumbnail:focus .play-button .front-fins::after,
.video-thumbnail:focus-visible .play-button .front-fins::after {
  color: var(--color1);
}
.play-button b::before,
.play-button b::after {
  /* tail fins */
  content: "";
  position: absolute;
  z-index: -1;
  left: -74px;
}
.play-button b::before {
  /* top tail fin */
  bottom: 50%;
  width: 0;
  height: 0;
  color: var(--color1);
  border-left: 1px solid transparent;
  border-right: 24px solid transparent;
  border-bottom: 44px solid currentColor;
  transform: skew(20deg);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.play-button b::after {
  /* bottom tail fin */
  top: calc(50% - 1px);
  width: 0;
  height: 0;
  color: var(--color1);
  border-left: 1px solid transparent;
  border-right: 24px solid transparent;
  border-top: 20px solid currentColor;
  transform: skew(-40deg);
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.play-button .back-fins::before {
  /* underfin 1*/
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -4px;
  left: 5%;
  width: 0;
  height: 0;
  color: var(--color1);
  border-top: 10px solid transparent;
  border-left: 14px solid currentColor;
  border-bottom: 11px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation: backFin 2s infinite ease-in-out;
  animation-play-state: paused;
}
.play-button .back-fins::after {
  /* underfin 2*/
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  bottom: -2px;
  left: 11%;
  width: 0;
  height: 0;
  color: var(--color0);
  border-right: 13px solid currentColor;
  border-bottom: 7px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  animation: backFin 2s infinite ease-in-out;
  animation-play-state: paused;
  animation-delay: -1s;
}
.video-thumbnail:hover .play-button .back-fins::after,
.video-thumbnail:focus .play-button .back-fins::after,
.video-thumbnail:focus-visible .play-button .back-fins::after {
  color: var(--color1);
}
.play-button i::after {
  /* jaw */
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 2px;
  right: 12px;
  width: 4px;
  height: 4px;
  color: var(--color1);
  border-bottom: 15px solid currentColor;
  border-right: 30px solid transparent;
  transition-property: color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.video-thumbnail:hover .play-button {
  background-color: var(--color2);
  color: var(--color2);
}

@keyframes tailMovement {
  0%,
  100% {
    transform: rotate(-5deg) scaleX(1);
  }
  25% {
    transform: rotate(0deg) scaleX(0.8);
  }
  50% {
    transform: rotate(5deg) scaleX(1);
  }
  75% {
    transform: rotate(0deg) scaleX(0.8);
  }
}
@keyframes bodyMovement {
  0%,
  100% {
    transform: translateY(-2px) scaleX(0.94);
  }
  25% {
    transform: translateY(0px) scaleX(1);
  }
  50% {
    transform: translateY(2px) scaleX(0.94);
  }
  75% {
    transform: translateY(0px) scaleX(1);
  }
}
@keyframes lowerFin {
  0%,
  100% {
    transform: skewX(0deg) translateX(-3px);
  }
  50% {
    transform: skewX(20deg) translateX(3px);
  }
}
@keyframes lowerFin2 {
  0%,
  100% {
    transform: skewX(-10deg) translateX(-2px);
  }
  50% {
    transform: skewX(14deg) translateX(2px);
  }
}
@keyframes backFin {
  0%,
  100% {
    transform: rotate(14eg) translateX(-3px);
  }
  50% {
    transform: rotate(14deg) translateX(3px);
  }
}
@keyframes sideToSideMovement {
  0%,
  100% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.video-thumbnail:hover .play-button::before,
.video-thumbnail:hover .play-button span,
.video-thumbnail:hover .play-button i,
.video-thumbnail:hover .play-button b,
.video-thumbnail:hover .play-button span::before,
.video-thumbnail:hover .play-button span::after,
.video-thumbnail:hover .play-button b::before,
.video-thumbnail:hover .play-button b::after,
.video-thumbnail:hover .play-button i::before,
.video-thumbnail:hover .play-button i::after {
  color: var(--color2);
}

.video-thumbnail:hover .play-button::after {
  border-left-color: rgba(255, 255, 255, 1);
}

.heading3 {
  margin: 1.5em 0 1em;
  padding: 0;
}
.video-wrap h4 {
  font-size: clamp(var(--title-S), 2vw, var(--title-M));
  min-height: 3.6em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  text-align: left;
  margin: 0 0 0.4rem 0;
}
.video-wrap p {
  text-align: left;
  margin-top: 0.4em;
}

ul.list {
  list-style: "\2605";
  padding-left: 1.8em;
}
ul.list li {
  padding-left: 0.3em;
}
ul.list li::marker {
  transform: translateY(-0.12em);
  color: var(--color-3);
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
ul.list li:hover::marker,
ul.list li:focus::marker,
ul.list li:focus-visible::marker {
  color: var(--color-5);
}
.dark ul.list li:hover::marker,
.dark ul.list li:focus::marker,
.dark ul.list li:focus-visible::marker {
  color: var(--color-1);
}

@media (min-width: 300px) {
  .intro-wrap .intro-text {
    max-width: 400px;
  }
  .video-wrap h4 {
    min-height: 2.4em;
  }
}
@media (min-width: 600px) {
  .intro-wrap .olli {
    width: clamp(100px, calc(30vw - 2em), 250px);
    height: clamp(100px, calc(30vw - 2em), 250px);
  }

  .intro-wrap .intro-text {
    flex: 0 1 calc(clamp(200px, 60vw, 660px) - 2em);
    max-width: calc(clamp(200px, 60vw, 660px) - 2em);
  }
  .video {
    flex: 1 1 calc(50% - 2em);
  }
}
@media (min-width: 1000px) {
  .video {
    flex: 1 1 calc(33% - 4em);
  }
}
