.footer {
  font-size: 0.8em;
  margin-top: 2rem;
  padding: 0.4rem 0.2rem 0;
}
.footer p,
.footer p > span {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0 0.4em;
}
.footer p {
  margin: 0.3rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0 0.5em;
}
.footer button.back-to-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
