button.details {
  transform-origin: 10% 50%;
  width: 100%;
  background-color: transparent;
  outline: 0 solid var(--color-3);
  border: none;
  transition-property: outline-color, outline-width, outline-offset,
    background-color, border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  padding: 0.7em 0.8em 0.3em;
}
button.details:hover,
button.details.open:focus,
button.details.open:focus-visible {
  background-color: transparent;
  outline-width: 0;
}
button.details.closed:hover,
button.details.closed:focus,
button.details.closed:focus-visible {
  outline: 2px solid var(--color-3);
  outline-offset: 2px;
  background-color: transparent;
}

.details > span {
  padding: 4px;
  border-radius: var(--corner-small);
}
.details:focus-visible > span {
  outline: 2px solid var(--color-3);
  outline-offset: -2px;
}
.details.open {
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  overflow: visible;
}
.details > .content {
  height: 0;
}
.details,
.details.open > .content {
  height: auto;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  width: 100%;
}
.details.flex,
.details.open.flex > .content {
  display: flex;
  flex-flow: column nowrap;
}

.details .summary {
  cursor: pointer;
}

.details.left,
.details.left .summary,
.details.left > .content {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0;
}
.details,
.details > .content {
  overflow: hidden;
}
.tra.details,
.tra.details > .content {
  transition-property: height, transform;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.details > .content {
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}
.details.open > .content {
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-animation: open 0.4s ease-in-out;
  -moz-animation: open 0.4s ease-in-out;
  -o-animation: open 0.4s ease-in-out;
  -ms-animation: open 0.4s ease-in-out;
  animation: open 0.4s ease-in-out;
  overflow: visible;
}
.details.open.closing > .content {
  -webkit-animation: close 0.4s ease-in-out;
  -moz-animation: close 0.4s ease-in-out;
  -o-animation: close 0.4s ease-in-out;
  -ms-animation: close 0.4s ease-in-out;
  animation: close 0.4s ease-in-out;
}
.details.open > .content ul {
  margin: 0;
}
.details > span {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}
.tra.details > span > svg,
.tra.details > span > .triangle {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 8px solid currentColor;
  transform-origin: 50% 100%;
  transform: rotate(0deg) translateY(5px);
}
.details.open > span > .triangle {
  transform: rotate(90deg) translateY(-1px) translateY(8px);
}

@keyframes open {
  from {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    height: 0;
  }
  to {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    height: auto;
  }
}
@keyframes close {
  from {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    height: auto;
  }
  to {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    height: 0;
  }
}
